@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    header,
    nav,
    main,
    footer {
        /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
        max-width: 64em;
        /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    }
    /* hamburger button does not need to be shown in the medium on up views */
    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
        justify-content: center;

    }

    nav ul li {
        
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }

    .weather {
        display: flex;
    }

    .weather_pic img {
        max-width: 50vw;
    }

    section.weather-summary {
        margin: auto;
    }

    h3 {}

    div.current {}

    section.weather-summary figure img {
        width: 100px;
    }

    section.forecast {

        display: block;
    }

    .city_news {
        display: flex;
    }
    article {}
    .story h3 {
        text-align: center;
    }

    .news_pic img {

        width: 50vw;

    }

    .gallery_grid {
        grid-template-columns: auto auto;
    }

    footer {}
}
