body {
  color: #FFF;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Light', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5rem
}

h1, h3 {
  color: #FFAD05
}

h3 {
  margin: 0
}

h2, h4 {
  color: #FCFF4B
}

header {
  color: #5995ED;
  background-color: #044389;
  font-size: 2rem;
  line-height: 2rem;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap
}

header img, .headings {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto
}

.logo {
  height: 8rem
}

.motto {
  font-size: .5em;
  line-height: 2rem
}

.current-conditions {
  width: 10em;
  margin: auto;
  font-size: 1rem;
  background-color: rgba(128, 206, 236, .6);
  border: solid #FFAD05 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem
}

.current {
  display: flex;
  flex-wrap: wrap;
  width: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #FCFF4B;
  line-height: 1.5rem
}

.conditions-img {
  height: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#menu-link {
  display: none
}

nav {
  color: #FFF;
  background-color: #5995ED;
  font-size: 1.5em;
  line-height: 3rem;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap
}

#current-page {
  background-color: #80CEEC
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #5995ED;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 3em
}

li {
  display: inline;
  float: left
}

li:hover {
  background-color: #FFF
}

li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none
}

li:hover a {
  color: #FFAD05;
  background-color: #FFF
}

.home-content-wrap {
  width: 60rem;
  margin: 0 auto;
  margin-top: 15px;
  display: grid;
grid-template-areas: 
'map  map advisory'
'item2   item3  item4';
grid-gap: 15px;
}

iframe {
  width: 100%;
  height: 30rem;
  border: none
}

.item1 {
  grid-area: map;
  grid-column: 1/ span 2
}

.item2 {
  grid-area: item2;
  grid-column: 1/ span 1
}

.item3 {
  grid-area: item3;
  grid-column: 2/ span 1
}

.item4 {
  grid-area: item4;
  grid-column: 3/ span 1
}

.town-data {
  background-color: #5995ED;
  padding: 1rem;
  border-radius: 25px
}

.town-data p {
  color: #FFF;
  font-weight: 700
}

.town-data img {
  max-width: 250px;
  box-shadow: 1rem 1rem .5rem #044389
}

.advisory {
  background-color: #5995ED;
  border: solid #FFAD05 1px;
  width: 20rem;
  padding: 1rem;
  grid-column: 3/ span 1;
}

.hero-img {
  width: 100%
}

.hero-container {
  position: relative;
  width: 75%;
  margin: auto
}

.weather-summary {
  background-color: rgba(128, 206, 236, .6);
  width: 25%;
  position: absolute;
  top: 2rem;
  left: 3rem;
  z-index: 999;
  padding: 1rem;
  line-height: 1.5rem
}

.fiveDayForecast {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #044389;
  position: relative;
  width: 35.5rem;
  margin: auto
}

table {
  background-color: #fff;
  margin: 1.5rem;
  border: solid white .2rem
}

th {
  background-color: #5995ED;
  padding: 1.5rem;
  font-size: 1rem
}

td {
  padding: .2rem
}

.articleimg {
  margin: 1rem;
  float: right;
  padding-right: 0;
  box-shadow: 1rem 1rem .5rem #044389;
  width: 25rem;
  height: auto
}

article {
  background-color: #5995ED;
  width: 70%;
  padding: 1rem;
  margin: auto;
  text-align: left !important;
  border: solid #FFAD05 1px
}

form {
  color: #044389;
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 20px;
  background-color: #5995ED;
  border: solid #FFAD05 1px;
  display: grid
}

textarea#styled {
  width: 100%;
  max-width: 500px;
  height: 120px;
  padding: 5px
}

input {
  margin-bottom: 10px
}

input[type=submit] {
  background-color: #044389;
  color: #FFF;
  border: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem
}

input[type=file] {
  background-color: #044389;
  color: #FFF;
  text-decoration: none;
  margin: 2px auto;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem
}

input[type=submit]:hover {
  background-color: #FFAD05
}

label {
  font-weight: 700;
  float: left;
  clear: both;
  padding: 2px 1em 0 0
}

.radio {
  display: flex;
  justify-content: space-between
}

.formblock {
  display: grid;
  justify-content: space-between;
  grid-template: [row1-start] "label input"auto[row1-end]
                 [row2-start] "label input"auto[row2-end]
                 [row3-start] "label input"auto[row3-end];
}

.form-wrap {
max-width: 500px;
margin: 0 auto;
}

#rating {
  display: inline-block
}

#ratingvalue {
  font-weight: 700;
  margin-left: 25px
}

button {
  background-color: #044389;
  color: #FFF;
  border: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem
}

button a {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

button:hover {
  background-color: #FFAD05
}

.gallery {
  margin: 0 auto;
  display: grid;
  grid-template: [row1-start] "figure figure figure"auto[row1-end] [row2-start] "figure figure figure"auto [row2-end]
}

.gallery figure {
  justify-self: center;
  padding: 1rem
}

figure img {
  width: 95%
}

figure {
  color: #000
}

figure:hover {
  box-shadow: 0 0 50px #333
}

.map {
  max-width: 100%;
  height: 50%;
  box-shadow: 1rem 1rem .5rem #044389
}

.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: #FFF;
  background-color: #5995ED;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Raleway', sans-serif;
  width: 70%;
  padding: 2rem
}

.spotlight {
  border: solid #FFAD05 1px;
  width: 70%;
  margin: 0 auto;
  background-color: #5995ED;
  display: grid;
}

.spotlight button {
  grid-column-start: 2;
  grid-row-start: 3;
}

.spotlight img {
  width: 100%;
  margin: 1rem;
  box-shadow: 1rem 1rem .5rem #044389
}

.image-subtitle-wrap {
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
  justify-self: center
}

.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0
}

.next {
  border-radius: 3px 0 0 3px;
  grid-column-end: 3;
  grid-row-start: 1;
  height: 40px
}

.prev {
  grid-column-start: 1;
  grid-row-start: 1;
  height: 40px
}

.prev:hover, .next:hover {
  background-color: rgba(4, 67, 137, 8)
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease
}

.active, .dot:hover {
  background-color: #717171
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s
}

@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

@media only screen and (max-width:300px) {
  .prev, .next, .text {
      font-size: 11px
  }
}

.attrib {
  background-color: #5995ED;
  border: solid #FFAD05 1px;
  width: 50rem;
  padding: 1rem;
  margin: 0 auto
}

footer {
  color: #FFF;
  background-color: #80CEEC;
  font-size: 1rem;
  line-height: 1rem;
  font-family: 'Raleway', sans-serif;
  width: auto;
  padding: 1rem
}

footer a {
  color: #FFF;
  text-decoration: none;
}

footer a:hover {
  color: #FCFF4B
}

@media (max-width:1055px) {
  h2 {
      font-size: 1.5em
  }

  nav {
      font-size: 1em
  }
}

@media (max-width:971px) {
  .weather-summary {
      background-color: rgba(128, 206, 236, .6);
      width: 250px;
      position: absolute;
      top: 25px;
      left: 25px;
      z-index: 999;
      padding: 10px;
      line-height: 1.5rem
  }
}

.conditions-home {
  width: 10em;
  margin: auto;
  font-size: 1rem;
  background-color: #044389;
  border: none
}