* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Light', sans-serif;
    color: #FFF;
    text-align: center;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
  }
  
  h1, h3 {
    color: #FFAD05;
  }
  
  h3 {
    margin: 0px;
  }
  
  h2, h4 {
    color: #FCFF4B;
  }
  
  header {
    color: #5995ED;
    background-color: #044389;
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  header img, .headings {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
  }
  
  .logo {
    height: 5rem;
  }
  
  .motto {
    font-size: .5rem;
    line-height: 1rem;
  }
  
  .current-conditions {
    display: none;
  }
  
  nav {
    color: #FFF;
    background-color: #5995ED;
    font-size: 1.375em;
    line-height: 3rem;
    font-family: 'Raleway', sans-serif;
  }
  
  nav a {
    color: #FFF;
    text-decoration: none;
  }
  
  #current-page {
    background-color: #80CEEC;
  }
  
  li:hover {
    background-color: #FFF;
  }
  
  li:hover a {
    color: #FFAD05;
  }
  
  .menu {
    list-style: none;
    padding-inline-start: 0px;
    display: none;
  }
  
  .responsive {
    display: block;
    list-style: none;
    padding-inline-start: 0px;
  }
  
  .conditions-home {
    display: none;
  }
  
  .home-content-wrap {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    display: grid;
    grid-template-areas:
      'advisory advisory advisory'
      'map map map'
      'item2  item2 item2'
      'item3 item3 item3'
      'item4 item4 item4';
    grid-gap: 15px;
  }
  
  .item1 {
    grid-area: map;
  }
  
  .item2 {
    width: 25rem;
    grid-area: item2;
    justify-self: center;
  }
  
  .item3 {
    width: 25rem;
    grid-area: item3;
    justify-self: center;
  }
  
  .item4 {
    width: 25rem;
    grid-area: item4;
    justify-self: center;
  }
  
  iframe {
    width: 95%;
    height: 30rem;
    border: none;
  }
  
  .advisory {
    background-color: #5995ED;
    border: solid #FFAD05 1px;
    width: auto;
    padding: 1rem;
    grid-area: advisory;
  }
  
  .town-data {
    background-color: #5995ED;
    padding: 1rem;
    border-radius: 25px;
  }
  
  .town-data p {
    font-weight: bold;
    line-height: 1.5em;
  }
  
  .town-data img {
    max-width: 85%;
    box-shadow: 1rem 1rem .5rem #044389;
  }
  
  .hero-img {
    width: 100%;
  }
  
  .hero-container {
    position: relative;
    width: 100%;
  }
  
  .weather-summary {
    color: #000;
    background-color: rgba(128, 206, 236, 0.6);
    width: 250px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 999;
    padding: 10px;
    line-height: 1.5rem;
  }
  
  .fiveDayForecast {
    display: none;
  }
  
  .articleimg {
    width: 100%;
  }
  
  article {
    background-color: #5995ED;
    padding: 1rem;
    margin: auto;
    text-align: left !important;
    border: solid #FFAD05 1px;
  }
  
  article p, h1, h2, h3, h4, h5 {
    margin: 1rem;
  }
  
  form {
      color: #044389;
      width: 50%;
      min-width: 500px;
      margin: 0 auto;
      margin-bottom: 1rem;
      padding: 20px;
      background-color: #5995ED;
      border: solid #FFAD05 1px;
      display: grid
  }
  
  textarea#styled {
      width: 100%;
      max-width: 500px;
      height: 120px;
      padding: 5px
  }
  
  input {
      margin-bottom: 10px
  }
  
  input[type=submit] {
      background-color: #044389;
      color: #FFF;
      border: none;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: 'Raleway', sans-serif;
      font-size: 1rem
  }
  
  input[type=file] {
      background-color: #044389;
      color: #FFF;
      padding: 0 auto;
      text-decoration: none;
      margin: 2px auto;
      display: inline-block;
      font-family: 'Raleway', sans-serif;
      font-size: 1rem
  }
  
  input[type=submit]:hover {
      background-color: #FFAD05
  }
  
  label {
      font-weight: 700;
      float: left;
      clear: both;
      padding: 2px 1em 0 0
  }
  
  .radio {
      display: flex;
      justify-content: space-between
  }
  
  .formblock {
      display: grid;
      justify-content: space-between
      grid-template [row1-start] "label input"auto[row1-end]
                              [row2-start] "label input"auto[row2-end]
  }
  
  .form-wrap {
  max-width: 500px;
  margin: 0 auto;
  }
  
  #rating {
    display: inline-block;
  }
  
  #ratingvalue {
    font-weight: bold;
    margin-left: 25px;
  }
  
  button {
    background-color: #044389;
    color: #FFF;
    border: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
  
  button a {
      color: #FFF;
      font-family: 'Raleway', sans-serif;
      font-size: 1rem;
      text-decoration: none;
  }
  
  .gallery {
    margin-bottom: 2rem;
    display: grid;
    grid-template: [row1-start] "figure"auto [row1-end];
    grid-row-gap: 2rem;
  }
  
  .gallery figure {
    justify-self: center;
    color: #000;
  }
  
  figure img {
    width: 95%;
  }
  
  .contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    background-color: #5995ED;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
  }
  
  .map {
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 5px #044389;
  }
  
  .spotlight {
    border: solid #FFAD05 1px;
    width: 100%;
    margin: 0 auto;
    background-color: #5995ED;
    display: grid;
    grid-template-columns: 1 2 3;
    grid-template-rows: 1 2 3 4;
  }
  
  .spotlight button {
    grid-column-start: 2;
    grid-row-start: 4;
  }
  
  .spotlight img {
    width: 85%;
    margin: 1rem;
    box-shadow: 1rem 1rem .5rem #044389;
  }
  
  .image-subtitle-wrap {
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  
  .next {
    border-radius: 3px 0 0 3px;
    grid-column-start: 3;
    grid-row-start: 1;
    height: 40px;
  }
  
  .prev {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 40px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(4, 67, 137, 8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }
  
  @keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
  
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }
  
  .attrib {
    background-color: #5995ED;
    border: solid #FFAD05 1px;
    width: 70%;
    padding: 1rem;
    margin: 0 auto;
    line-height: 1.5em;
  }
  
  footer {
    color: #FFF;
    background-color: #80CEEC;
  
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
  }
  
  footer a {
    color: #FFF;
    text-decoration: none;
  }
