@import url('https://fonts.googleapis.com/css?family=Nova+Square&display=swap');

body {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Big Shoulders Display', cursive;
}
    main {
    margin: 10px;
    width: 960px
    }
    h1 {
        font-family: 'Roboto Mono', monospace;
        font-family: 'Big Shoulders Display', cursive;  
    }
    p{
        border: 1px;
        padding: 7px;
        background-color: #ddd;
        text-align: justify;
        font-family: 'Roboto Mono', monospace;
        font-family: 'Big Shoulders Display', cursive;
}
